.venv/
images/
data/
logs/
checkpoints/
__pycache__/
*.pyc
.DS_Store
.env
.vscode/
.idea/
.ipynb_checkpoints/
results/
temp/
outputs/
*.log
.DS_Store
*.code-workspace
keras/
svm_saved_models/
batch_logs/
run_notebook.py
svm_result_analysis.py
results_summary.csv